AIDataGeneratorFor360/AI-Data-Generator-for-360.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1744288486985,
    "description" : "Use AI to generate realistic titles for case, document and file data in 360 using SIF. Used for customer demo and test purposes.",
    "identifier" : "AI-Data-Generator-for-360",
    "lastModifiedTimestamp" : 1744288486985,
    "name" : "AI Data Generator for 360",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4cb9f7e5-19d3-34fd-8f11-c7c9505babb9",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b3f28785-83f6-3e97-8597-60d2f0d84143",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6651b34c-0471-31cc-bebb-abd7edf1e9fd",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f59d2e0-0196-1000-29b9-d9e41f7e667a",
        "name" : "SIF CreateCase",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "66dbad95-5e01-3bfa-92b1-b2f6b3228613",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f59d2e1-0196-1000-343c-04aa1c660c58",
        "name" : "Payload CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "34cd826a-3bba-3b1c-bbb3-b5b3d7e84ccd",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "402e47d0-fa7f-37e2-901c-3bbcae1de609",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f8feedb-0196-1000-7270-38e1b991e50a",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d6018f85-5e68-358b-9e1f-f85b412c0cf4",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c2f99271-f56e-3716-a080-291f7e1275dd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9675158f-2f8f-369b-bbdd-78d00ee9fc45",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "366b7487-eb5f-304e-9ea9-e5f0ea38f998",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b3f40305-4597-306d-956c-95fb088d6e3a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d6018f85-5e68-358b-9e1f-f85b412c0cf4",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f2841952-8a2a-3ed0-b5e9-d29bb10e0f5d",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2889d450-eb30-3c3d-a69d-452021b432da",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b7784c30-ce99-39d1-ae2a-067cbdf189f9",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f8d7c54-0196-1000-905e-c4b683435a05",
        "name" : "Process SIF response",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "22cd555d-47c8-3e99-afce-6dddc4b7ba48",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e1365f3d-cbc6-3c9d-b040-f8f391fc054b",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2d96191-ea95-33ca-9693-bc07292eb927",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f8a068b8-76c3-36f0-9a07-3554e3e82d53",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d6018f85-5e68-358b-9e1f-f85b412c0cf4",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f59d2e1-0196-1000-343c-04aa1c660c58",
        "name" : "Payload CreateCase",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "11e13e82-5695-3500-a759-b2274038af0e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5dc59839-17dc-38d6-8980-c89427fa1402",
        "name" : "Set case attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9675158f-2f8f-369b-bbdd-78d00ee9fc45",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7b9be4de-fae2-309e-b64e-900cec4d7055",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6651b34c-0471-31cc-bebb-abd7edf1e9fd",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "11179682-6439-38ad-bf11-b4f582a23f6b",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5a5d792e-4708-3a2d-8d93-9a9f4d0927ea",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f59d2e0-0196-1000-29b9-d9e41f7e667a",
        "name" : "SIF CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5dc59839-17dc-38d6-8980-c89427fa1402",
        "name" : "Set case attributes",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fb060a70-37b5-3d21-aa4e-8412a714fe7d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e2d96191-ea95-33ca-9693-bc07292eb927",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b7784c30-ce99-39d1-ae2a-067cbdf189f9",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4ebae2ee-9339-300d-a388-28f4f83d0302",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f62492f2-47c2-35a5-b0b6-cc2490947a56",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6651b34c-0471-31cc-bebb-abd7edf1e9fd",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3c53315d-e1a2-343a-9788-84330a6d6b0e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f2841952-8a2a-3ed0-b5e9-d29bb10e0f5d",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cb8fe2b7-ebbe-347f-90d5-63385b3a6461",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "32ae65c5-2a22-3d20-abdb-43d7e3937634",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "isError" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f8feedb-0196-1000-7270-38e1b991e50a",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e1365f3d-cbc6-3c9d-b040-f8f391fc054b",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "13d6d6f8-a5b8-3c6d-9f66-4009969098bb",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f59d2e0-0196-1000-29b9-d9e41f7e667a",
        "name" : "SIF CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4d9649fc-d0b8-32fa-9593-80b81eba0c9d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9029a9ff-8089-3064-9b51-6b2ec7f5a33c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d6018f85-5e68-358b-9e1f-f85b412c0cf4",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0f5a4653-c7a0-3b14-93cd-5ddf02d89d98",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "52e07e96-3f9d-3422-b066-065e53581be5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f59d2e1-0196-1000-343c-04aa1c660c58",
        "name" : "Payload CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "a69ff354-f3f0-3442-a743-17b5f5b74f8f",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3d31d550-3de2-3a63-9c6f-767244464fd4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "isSuccess" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f8feedb-0196-1000-7270-38e1b991e50a",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f8feedb-0196-1000-7270-38e1b991e50a",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6340d919-3559-3dbe-9c44-653f56529ecd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f8d7c54-0196-1000-905e-c4b683435a05",
        "name" : "Process SIF response",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4cf201d4-2934-3197-bf17-120431fe81d1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7226a7c8-679b-3f4a-aa74-1ff892324464",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5dc59839-17dc-38d6-8980-c89427fa1402",
        "name" : "Set case attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "21ab768b-0aa3-3908-a98f-8492f1550ff1",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "true",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "csv-header-derived",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4472cc75-b56f-3c71-a703-a9af9ecd7314",
      "name" : "AvroRecordSetWriter",
      "properties" : {
        "compression-format" : "NONE",
        "Schema Write Strategy" : "avro-embedded",
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-registry" : "6d5d768a-05a4-31d3-9c8b-338922eeeb0c",
        "schema-access-strategy" : "schema-name",
        "encoder-pool-size" : "32",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "encoder-pool-size" : {
          "displayName" : "Encoder Pool Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "encoder-pool-size",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-registry-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6d5d768a-05a4-31d3-9c8b-338922eeeb0c",
      "name" : "AvroSchemaRegistry",
      "properties" : {
        "avro-reg-validated-field-names" : "true"
      },
      "propertyDescriptors" : {
        "avro-reg-validated-field-names" : {
          "displayName" : "Validate Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "avro-reg-validated-field-names",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "00f484ec-23f5-3616-a276-4546c8ea5de2",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "true",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "366b7487-eb5f-304e-9ea9-e5f0ea38f998",
      "position" : {
        "x" : -246.3231197771588,
        "y" : 784.75
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e1365f3d-cbc6-3c9d-b040-f8f391fc054b",
      "position" : {
        "x" : 49.0,
        "y" : 1563.5
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "11179682-6439-38ad-bf11-b4f582a23f6b",
      "position" : {
        "x" : 332.0,
        "y" : 1432.5
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4cf201d4-2934-3197-bf17-120431fe81d1",
      "position" : {
        "x" : -320.0,
        "y" : 1072.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cb8fe2b7-ebbe-347f-90d5-63385b3a6461",
      "position" : {
        "x" : 328.0,
        "y" : 2080.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9675158f-2f8f-369b-bbdd-78d00ee9fc45",
      "position" : {
        "x" : 0.0,
        "y" : 576.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4cb9f7e5-19d3-34fd-8f11-c7c9505babb9",
      "position" : {
        "x" : 393.0,
        "y" : 336.5
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e2d96191-ea95-33ca-9693-bc07292eb927",
      "position" : {
        "x" : 0.0,
        "y" : 936.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4d9649fc-d0b8-32fa-9593-80b81eba0c9d",
      "position" : {
        "x" : 352.0,
        "y" : 752.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0f5a4653-c7a0-3b14-93cd-5ddf02d89d98",
      "position" : {
        "x" : -328.0,
        "y" : 1224.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a69ff354-f3f0-3442-a743-17b5f5b74f8f",
      "position" : {
        "x" : -232.0,
        "y" : 2080.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b7784c30-ce99-39d1-ae2a-067cbdf189f9",
      "position" : {
        "x" : -8.0,
        "y" : 72.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "34cd826a-3bba-3b1c-bbb3-b5b3d7e84ccd",
      "position" : {
        "x" : 467.22033898305085,
        "y" : 1868.75
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "360 AI Data generator",
    "outputPorts" : [ ],
    "parameterContextName" : "AIDatacreation",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d6018f85-5e68-358b-9e1f-f85b412c0cf4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -128.0,
        "y" : 712.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1f59d2e0-0196-1000-29b9-d9e41f7e667a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SIF CreateCase",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -112.0,
        "y" : 1376.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "3600 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "HTTP URL" : "#{eArchiveURL}/Biz/v2/api/call/SI.Data.RPC/SI.Data.RPC/CaseService/CreateCase",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "POST",
        "Request Content-Type" : "application/json",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Authorization" : {
          "displayName" : "Authorization",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Authorization",
          "sensitive" : true
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6651b34c-0471-31cc-bebb-abd7edf1e9fd",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -144.0,
        "y" : 312.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "true",
        "Record Writer" : "00f484ec-23f5-3616-a276-4546c8ea5de2",
        "Record Reader" : "21ab768b-0aa3-3908-a98f-8492f1550ff1"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5dc59839-17dc-38d6-8980-c89427fa1402",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Set case attributes",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -120.0,
        "y" : 1016.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "CaseNumber" : "$.CaseNumber",
        "Null Value Representation" : "empty string",
        "CaseID" : "$.id",
        "CaseTitle" : "$.title",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "CaseNumber" : {
          "displayName" : "CaseNumber",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CaseNumber",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "CaseID" : {
          "displayName" : "CaseID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CaseID",
          "sensitive" : false
        },
        "CaseTitle" : {
          "displayName" : "CaseTitle",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CaseTitle",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1f8feedb-0196-1000-7270-38e1b991e50a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -112.0,
        "y" : 1816.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "isError" : "${successResponse:equals('false')}",
        "isSuccess" : "${successResponse:equals('true')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "isError" : {
          "displayName" : "isError",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "isError",
          "sensitive" : false
        },
        "isSuccess" : {
          "displayName" : "isSuccess",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "isSuccess",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1f8d7c54-0196-1000-905e-c4b683435a05",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Process SIF response",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -104.0,
        "y" : 1648.0
      },
      "properties" : {
        "successResponse" : "$.Successful",
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "errorMessage" : "$.ErrorMessage",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore",
        "errorDetails" : "$.ErrorDetails"
      },
      "propertyDescriptors" : {
        "successResponse" : {
          "displayName" : "successResponse",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "successResponse",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "errorMessage" : {
          "displayName" : "errorMessage",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "errorMessage",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "errorDetails" : {
          "displayName" : "errorDetails",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "errorDetails",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f62492f2-47c2-35a5-b0b6-cc2490947a56",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -160.0,
        "y" : -160.0
      },
      "properties" : {
        "Keep Source File" : "true",
        "Minimum File Age" : "0 sec",
        "Polling Interval" : "0 sec",
        "Input Directory" : "/nifi/import",
        "Batch Size" : "10",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1f59d2e1-0196-1000-343c-04aa1c660c58",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Payload CreateCase",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -128.0,
        "y" : 1192.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\n    \"parameter\": {\n\t\t\"ImportedCaseNumber\": \"${CaseNumber}\",\n        \"Title\": \"${CaseTitle}\",\n        \"Status\": \"recno:6\",\n        \"CaseType\": \"recno:18\",\n\t\t\"ArchiveCodes\": [\n            {\n                \"Sort\": 1,\n                \"ArchiveType\": \"recno:60001\",\n                \"ArchiveCode\": \"0\"\n            }\n        ],\n  \t\t\"ExternalId\": {\n            \"Id\": \"${CaseID}\",\n            \"Type\": \"AI\"\n        }\n    }\n}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e7d74493-0f2d-352d-b2e9-615465e9161c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -584.0,
        "y" : 1816.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f2841952-8a2a-3ed0-b5e9-d29bb10e0f5d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -144.0,
        "y" : 160.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "mime.type" : "text/csv"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "mime.type" : {
          "displayName" : "mime.type",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mime.type",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "AIDatacreation" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "AIDatacreation",
      "parameters" : [ {
        "description" : "",
        "name" : "eArchiveURL",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://demo-ea-ext.public360online.com"
      }, {
        "description" : "",
        "name" : "Authkey",
        "provided" : false,
        "sensitive" : false,
        "value" : "authkey f948c17b-3250-49e6-8480-16bdc49ac038"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "willy",
    "flowIdentifier" : "AI-Data-Generator-for-360",
    "timestamp" : 0
  }
}