caseclone/Clone-closed-case-from-P360-to-eArchive.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1736684844864,
    "description" : "Same flow can be used from PNB to P360, but then with changes to how contacts are handled. In eARchive, it's all unregistered contacts.",
    "identifier" : "Clone-closed-case-from-P360-to-eArchive",
    "lastModifiedTimestamp" : 1736684844864,
    "name" : "Clone closed case from P360 to eArchive",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56522dea-0194-1000-027c-b9c03ef3bc77",
        "name" : "Payload CreateCase",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f2103ce8-4f0e-3aaf-85b6-83276a5a78f5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "isCaseClosed" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9569a318-6a2a-3eb5-b417-f3c20806264d",
        "name" : "Is case status = Closed?",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9e-0194-1000-ecdc-fa9d3d20466d",
        "name" : "Send 200 OK with NiFi uuid",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8519e12e-f58d-3d98-9571-c9eb83d04b1e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9d-0194-1000-c4b0-f15d860739bb",
        "name" : "Set http response payload to NiFi uuid",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5a65e3f9-54ff-39d7-919b-950e9a45855b",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aaee9c62-b9b2-322e-a3e1-1c31177d5d1e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56522deb-0194-1000-4f3a-652a6cb8fb8c",
        "name" : "SIF CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "55952db2-0194-1000-0118-becda13a7de7",
        "name" : "SIF GetCases",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d376ffda-2be7-3545-9478-133337522264",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "55952db1-0194-1000-2a93-0499ba5e917b",
        "name" : "Payload GetCases",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "55952db1-0194-1000-2a93-0499ba5e917b",
        "name" : "Payload GetCases",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fa4839c4-20cc-36d7-b0b3-242352f07550",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0ccc5424-0493-37e8-b3b7-671de037308a",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f80dbb06-846b-3793-9cd7-003d316d59e8",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "28551dd0-3b27-39cd-aae4-ea4780313dec",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56522dea-0194-1000-027c-b9c03ef3bc77",
        "name" : "Payload CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9d-0194-1000-c4b0-f15d860739bb",
        "name" : "Set http response payload to NiFi uuid",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "635841f1-71e5-3b56-96e5-70c4e4fdbc7b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "Yes, contains Action and Entity",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b5589b4-7fca-33db-ae1c-21cb85b0b946",
        "name" : "Is Valid Webhook from P360",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "511ed920-2eda-3099-a003-280ad5a5f735",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0f054dbd-a818-33e3-9d06-35596d322f43",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bffcdd45-25db-376a-b7a3-c53fda82e358",
        "name" : "Set case metadata as attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56522deb-0194-1000-4f3a-652a6cb8fb8c",
        "name" : "SIF CreateCase",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9615b72f-1d82-317f-984d-b48ca52fd9ba",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56522dea-0194-1000-027c-b9c03ef3bc77",
        "name" : "Payload CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9569a318-6a2a-3eb5-b417-f3c20806264d",
        "name" : "Is case status = Closed?",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b311bd72-3b9c-345c-bbac-5c9ef17a7777",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bffcdd45-25db-376a-b7a3-c53fda82e358",
        "name" : "Set case metadata as attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "856290f0-81ba-3047-94e6-d5369038ef48",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cbf602af-f917-36ad-b78c-20df92031d69",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9569a318-6a2a-3eb5-b417-f3c20806264d",
        "name" : "Is case status = Closed?",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "37db2ead-6ac4-3387-b5f9-53147c164d09",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0997a351-f3a0-3a0b-bea1-b9dbc5f89dd8",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9b-0194-1000-cf0d-0bbb4b7bada9",
        "name" : "Set webhook JSON payload as attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b5589b4-7fca-33db-ae1c-21cb85b0b946",
        "name" : "Is Valid Webhook from P360",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d7ce43e1-d350-3838-a529-f2c5a9ceba96",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9b-0194-1000-cf0d-0bbb4b7bada9",
        "name" : "Set webhook JSON payload as attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b4c0f390-822a-3d76-ae1d-0a38c92ce055",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "63f178cd-94c8-399c-84d0-70dfc19064dd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45ac5a54-0194-1000-1033-b3d7a3d1bfc8",
        "name" : "Send 406 Not Acceptable",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8eb80dad-f166-36c8-a952-0401d37516fd",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "038629dd-c2b7-3169-b71e-7167d470b63b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "56522deb-0194-1000-4f3a-652a6cb8fb8c",
        "name" : "SIF CreateCase",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bffcdd45-25db-376a-b7a3-c53fda82e358",
        "name" : "Set case metadata as attributes",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "446c2208-2a7f-38f2-aa12-901d558dcbe6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "55952db2-0194-1000-0118-becda13a7de7",
        "name" : "SIF GetCases",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9b-0194-1000-cf0d-0bbb4b7bada9",
        "name" : "Set webhook JSON payload as attributes",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2745c123-94b6-35bf-881c-1e69a17687fa",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9c-0194-1000-1f2f-7b5e52b607ea",
        "name" : "Webhook /caseclose",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0ccc5424-0493-37e8-b3b7-671de037308a",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a9160777-5c68-3fa4-b69c-48c3129ba203",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9e-0194-1000-ecdc-fa9d3d20466d",
        "name" : "Send 200 OK with NiFi uuid",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b43e944e-15fd-321c-9a78-0cb253fa5d81",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4f3c15dd-fc4b-37e7-9569-d53663757f71",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bffcdd45-25db-376a-b7a3-c53fda82e358",
        "name" : "Set case metadata as attributes",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5d6b80cb-3b02-3f27-a9c1-6ecc9107ba1d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ef3b6007-17bc-3d09-8fbf-6b00fa892a24",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "55952db2-0194-1000-0118-becda13a7de7",
        "name" : "SIF GetCases",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d9efd8e7-535f-3366-9e23-7544fcb8fc0a",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "75a3fdbf-7188-386f-9c22-946a84c0c3ee",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "55952db1-0194-1000-2a93-0499ba5e917b",
        "name" : "Payload GetCases",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45abf6bb-0194-1000-fb4e-12e3c58d7158",
        "name" : "Set http response payload to NiFi uuid",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "da421e65-5df9-3513-b4b1-fdc0b62f8f53",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "No, invalid body",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3b5589b4-7fca-33db-ae1c-21cb85b0b946",
        "name" : "Is Valid Webhook from P360",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45ac5a54-0194-1000-1033-b3d7a3d1bfc8",
        "name" : "Send 406 Not Acceptable",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2aee0d22-76fe-3f24-90c5-d9f2bcc80158",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45abf6bb-0194-1000-fb4e-12e3c58d7158",
        "name" : "Set http response payload to NiFi uuid",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ab4e9c84-350a-3176-921f-3a8e74bc5592",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4bd8827e-5c01-3150-b7f8-fc8147e2b98f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "45a80f9e-0194-1000-ecdc-fa9d3d20466d",
        "name" : "Send 200 OK with NiFi uuid",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-ssl-context-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.ssl.SSLContextProvider"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.ssl.SSLContextService"
      }, {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.ssl.RestrictedSSLContextService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4f93362-aa09-34e2-a630-778d66c132cf",
      "name" : "StandardRestrictedSSLContextService",
      "properties" : {
        "Truststore Type" : "JKS",
        "SSL Protocol" : "TLS",
        "Keystore Type" : "JKS",
        "Truststore Filename" : "/nifi/nifi-2.1.0/conf/truststore.jks",
        "Keystore Filename" : "/nifi/nifi-2.1.0/conf/nifi_cert.jks"
      },
      "propertyDescriptors" : {
        "Truststore Type" : {
          "displayName" : "Truststore Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Truststore Type",
          "sensitive" : false
        },
        "SSL Protocol" : {
          "displayName" : "TLS Protocol",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SSL Protocol",
          "sensitive" : false
        },
        "Keystore Type" : {
          "displayName" : "Keystore Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keystore Type",
          "sensitive" : false
        },
        "Truststore Filename" : {
          "displayName" : "Truststore Filename",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Truststore Filename",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Keystore Password" : {
          "displayName" : "Keystore Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keystore Password",
          "sensitive" : true
        },
        "key-password" : {
          "displayName" : "Key Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-password",
          "sensitive" : true
        },
        "Truststore Password" : {
          "displayName" : "Truststore Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Truststore Password",
          "sensitive" : true
        },
        "Keystore Filename" : {
          "displayName" : "Keystore Filename",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keystore Filename",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.ssl.StandardRestrictedSSLContextService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-http-context-map-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.1.0"
        },
        "type" : "org.apache.nifi.http.HttpContextMap"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0cec8fde-8669-3db0-8da9-9c60d7b536b5",
      "name" : "StandardHttpContextMap",
      "properties" : {
        "Request Expiration" : "1 min",
        "Maximum Outstanding Requests" : "5000"
      },
      "propertyDescriptors" : {
        "Request Expiration" : {
          "displayName" : "Request Expiration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Expiration",
          "sensitive" : false
        },
        "Maximum Outstanding Requests" : {
          "displayName" : "Maximum Outstanding Requests",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Outstanding Requests",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.http.StandardHttpContextMap"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ab4e9c84-350a-3176-921f-3a8e74bc5592",
      "position" : {
        "x" : -1440.0,
        "y" : -160.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8eb80dad-f166-36c8-a952-0401d37516fd",
      "position" : {
        "x" : -920.0,
        "y" : 1440.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "37db2ead-6ac4-3387-b5f9-53147c164d09",
      "position" : {
        "x" : -480.0,
        "y" : -976.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f80dbb06-846b-3793-9cd7-003d316d59e8",
      "position" : {
        "x" : -488.0,
        "y" : 1016.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5d6b80cb-3b02-3f27-a9c1-6ecc9107ba1d",
      "position" : {
        "x" : -528.3205968636325,
        "y" : 434.15051091844975
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d9efd8e7-535f-3366-9e23-7544fcb8fc0a",
      "position" : {
        "x" : -574.855017097691,
        "y" : 165.2849717883347
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "856290f0-81ba-3047-94e6-d5369038ef48",
      "position" : {
        "x" : -601.5,
        "y" : 825.1666717529297
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b43e944e-15fd-321c-9a78-0cb253fa5d81",
      "position" : {
        "x" : -559.0,
        "y" : 636.6667022705078
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5a65e3f9-54ff-39d7-919b-950e9a45855b",
      "position" : {
        "x" : -486.95666776669214,
        "y" : 1228.5964557276343
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0ccc5424-0493-37e8-b3b7-671de037308a",
      "position" : {
        "x" : -976.0,
        "y" : 8.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "511ed920-2eda-3099-a003-280ad5a5f735",
      "position" : {
        "x" : -1432.0,
        "y" : 632.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4c0f390-822a-3d76-ae1d-0a38c92ce055",
      "position" : {
        "x" : 392.0,
        "y" : -640.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Clone closed case from P360 to eArchive using SIF",
    "outputPorts" : [ ],
    "parameterContextName" : "360CaseClone",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "56522deb-0194-1000-4f3a-652a6cb8fb8c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SIF CreateCase",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1088.0,
        "y" : 1184.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "HTTP URL" : "#{eArchiveURL}/Biz/v2/api/call/SI.Data.RPC/SI.Data.RPC/CaseService/CreateCase",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "POST",
        "Request Content-Type" : "application/json",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Authorization" : {
          "displayName" : "Authorization",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Authorization",
          "sensitive" : true
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9569a318-6a2a-3eb5-b417-f3c20806264d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Is case status = Closed?",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1088.0,
        "y" : 768.0
      },
      "properties" : {
        "isCaseClosed" : "${Status:equals('Closed')}",
        "Routing Strategy" : "Route to Property name"
      },
      "propertyDescriptors" : {
        "isCaseClosed" : {
          "displayName" : "isCaseClosed",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "isCaseClosed",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45abf6bb-0194-1000-fb4e-12e3c58d7158",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Set http response payload to NiFi uuid",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -672.0,
        "y" : -672.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\n\"Nifi\":\"Not Acceptable\"\n}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3b5589b4-7fca-33db-ae1c-21cb85b0b946",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Is Valid Webhook from P360",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1144.0,
        "y" : -688.0
      },
      "properties" : {
        "Routing Strategy" : "Route to 'match' if all match",
        "isActionSet" : "${Action:isEmpty()}",
        "isEntitySet" : "${Entity:isEmpty()}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "isActionSet" : {
          "displayName" : "isActionSet",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "isActionSet",
          "sensitive" : false
        },
        "isEntitySet" : {
          "displayName" : "isEntitySet",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "isEntitySet",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bffcdd45-25db-376a-b7a3-c53fda82e358",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Set case metadata as attributes",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1112.0,
        "y" : 576.0
      },
      "properties" : {
        "Status" : "$.Cases[0].Status",
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "AccessCodeCode" : "$.Cases[0].AccessCodeCode",
        "AccessCodeDescription" : "$.Cases[0].AccessCodeDescription",
        "Return Type" : "auto-detect",
        "LastChangedDate" : "$.Cases[0].LastChangedDate",
        "Title" : "$.Cases[0].Title",
        "SubArchive" : "$.Cases[0].SubArchive",
        "Null Value Representation" : "empty string",
        "Date" : "$.Cases[0].Date",
        "URL" : "$.Cases[0].URL",
        "Path Not Found Behavior" : "ignore",
        "Paragraph" : "$.Cases[0].Paragraph",
        "CaseType" : "$.Cases[0].CaseType",
        "AccessGroup" : "$.Cases[0].AccessGroup",
        "CreatedDate" : "$.Cases[0].CreatedDate",
        "CaseNumber" : "$.Cases[0].CaseNumber",
        "UnofficialTitle" : "$.Cases[0].UnofficialTitle"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "AccessCodeCode" : {
          "displayName" : "AccessCodeCode",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "AccessCodeCode",
          "sensitive" : false
        },
        "AccessCodeDescription" : {
          "displayName" : "AccessCodeDescription",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "AccessCodeDescription",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "LastChangedDate" : {
          "displayName" : "LastChangedDate",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "LastChangedDate",
          "sensitive" : false
        },
        "Title" : {
          "displayName" : "Title",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Title",
          "sensitive" : false
        },
        "SubArchive" : {
          "displayName" : "SubArchive",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SubArchive",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Date" : {
          "displayName" : "Date",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Date",
          "sensitive" : false
        },
        "URL" : {
          "displayName" : "URL",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "URL",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "Paragraph" : {
          "displayName" : "Paragraph",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Paragraph",
          "sensitive" : false
        },
        "CaseType" : {
          "displayName" : "CaseType",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CaseType",
          "sensitive" : false
        },
        "AccessGroup" : {
          "displayName" : "AccessGroup",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "AccessGroup",
          "sensitive" : false
        },
        "CreatedDate" : {
          "displayName" : "CreatedDate",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CreatedDate",
          "sensitive" : false
        },
        "CaseNumber" : {
          "displayName" : "CaseNumber",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CaseNumber",
          "sensitive" : false
        },
        "UnofficialTitle" : {
          "displayName" : "UnofficialTitle",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "UnofficialTitle",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "55952db1-0194-1000-2a93-0499ba5e917b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Payload GetCases",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1120.0,
        "y" : 112.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\n    \"parameter\": {\n        \"UID\": \"${UID}\",\n        \"IncludeCustomFields\": true,\n        \"IncludeDocuments\": false,\n        \"IncludeReferringCases\": false,\n        \"IncludeReferringDocuments\": false,\n        \"IncludeCaseContacts\": false,\n        \"IncludeCaseEstates\": false,\n        \"IncludeFiles\": false,\n        \"IncludeSubjectSpecificMetaData\": false,\n        \"IncludeProgressPlan\": false\n    }\n}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45a80f9e-0194-1000-ecdc-fa9d3d20466d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Send 200 OK with NiFi uuid",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1136.0,
        "y" : -224.0
      },
      "properties" : {
        "HTTP Context Map" : "0cec8fde-8669-3db0-8da9-9c60d7b536b5",
        "Content-type" : "application/json",
        "X-NiFi-UID" : "${uuid}",
        "HTTP Status Code" : "200"
      },
      "propertyDescriptors" : {
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "Content-type" : {
          "displayName" : "Content-type",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Content-type",
          "sensitive" : false
        },
        "Attributes to add to the HTTP Response (Regex)" : {
          "displayName" : "Attributes to add to the HTTP Response (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to add to the HTTP Response (Regex)",
          "sensitive" : false
        },
        "X-NiFi-UID" : {
          "displayName" : "X-NiFi-UID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "X-NiFi-UID",
          "sensitive" : false
        },
        "HTTP Status Code" : {
          "displayName" : "HTTP Status Code",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Status Code",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45a80f9b-0194-1000-cf0d-0bbb4b7bada9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Set webhook JSON payload as attributes",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1144.0,
        "y" : -1008.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "UID" : "$.UID",
        "Entity" : "$.Entity",
        "Action" : "$.Action",
        "Recno" : "$.Recno",
        "Max String Length" : "20 MB",
        "Return Type" : "json",
        "Null Value Representation" : "empty string",
        "UIDOrigin" : "$.UIDOrigin",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "UID" : {
          "displayName" : "UID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "UID",
          "sensitive" : false
        },
        "Entity" : {
          "displayName" : "Entity",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Entity",
          "sensitive" : false
        },
        "Action" : {
          "displayName" : "Action",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Action",
          "sensitive" : false
        },
        "Recno" : {
          "displayName" : "Recno",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Recno",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "UIDOrigin" : {
          "displayName" : "UIDOrigin",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "UIDOrigin",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45a80f9c-0194-1000-1f2f-7b5e52b607ea",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Webhook /caseclose",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1144.0,
        "y" : -1224.0
      },
      "properties" : {
        "multipart-request-max-size" : "1 MB",
        "Allow POST" : "true",
        "Default URL Character Set" : "UTF-8",
        "Allow DELETE" : "true",
        "Request Header Maximum Size" : "8 KB",
        "Maximum Threads" : "200",
        "HTTP Protocols" : "HTTP_1_1",
        "container-queue-size" : "50",
        "HTTP Context Map" : "0cec8fde-8669-3db0-8da9-9c60d7b536b5",
        "multipart-read-buffer-size" : "512 KB",
        "SSL Context Service" : "b4f93362-aa09-34e2-a630-778d66c132cf",
        "Allow OPTIONS" : "false",
        "Allowed Paths" : "/caseclose",
        "Allow GET" : "false",
        "Allow HEAD" : "false",
        "Listening Port" : "8443",
        "Client Authentication" : "No Authentication",
        "Allow PUT" : "true"
      },
      "propertyDescriptors" : {
        "multipart-request-max-size" : {
          "displayName" : "Multipart Request Max Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "multipart-request-max-size",
          "sensitive" : false
        },
        "parameters-to-attributes" : {
          "displayName" : "Parameters to Attributes List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "parameters-to-attributes",
          "sensitive" : false
        },
        "Allow POST" : {
          "displayName" : "Allow POST",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow POST",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Default URL Character Set" : {
          "displayName" : "Default URL Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default URL Character Set",
          "sensitive" : false
        },
        "Allow DELETE" : {
          "displayName" : "Allow DELETE",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow DELETE",
          "sensitive" : false
        },
        "Request Header Maximum Size" : {
          "displayName" : "Request Header Maximum Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Maximum Size",
          "sensitive" : false
        },
        "Maximum Threads" : {
          "displayName" : "Maximum Threads",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Threads",
          "sensitive" : false
        },
        "HTTP Protocols" : {
          "displayName" : "HTTP Protocols",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Protocols",
          "sensitive" : false
        },
        "Additional HTTP Methods" : {
          "displayName" : "Additional HTTP Methods",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Additional HTTP Methods",
          "sensitive" : false
        },
        "container-queue-size" : {
          "displayName" : "Container Queue Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "container-queue-size",
          "sensitive" : false
        },
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "multipart-read-buffer-size" : {
          "displayName" : "Multipart Read Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "multipart-read-buffer-size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Allow OPTIONS" : {
          "displayName" : "Allow OPTIONS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow OPTIONS",
          "sensitive" : false
        },
        "Allowed Paths" : {
          "displayName" : "Allowed Paths",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allowed Paths",
          "sensitive" : false
        },
        "Allow GET" : {
          "displayName" : "Allow GET",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow GET",
          "sensitive" : false
        },
        "Allow HEAD" : {
          "displayName" : "Allow HEAD",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow HEAD",
          "sensitive" : false
        },
        "Listening Port" : {
          "displayName" : "Listening Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Listening Port",
          "sensitive" : false
        },
        "Client Authentication" : {
          "displayName" : "Client Authentication",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Authentication",
          "sensitive" : false
        },
        "Allow PUT" : {
          "displayName" : "Allow PUT",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow PUT",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "55952db2-0194-1000-0118-becda13a7de7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SIF GetCases",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1112.0,
        "y" : 368.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "HTTP URL" : "#{P360URL}/Biz/v2/api/call/SI.Data.RPC/SI.Data.RPC/CaseService/GetCases",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "POST",
        "Request Content-Type" : "application/json",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Authorization" : {
          "displayName" : "Authorization",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Authorization",
          "sensitive" : true
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45a80f9d-0194-1000-c4b0-f15d860739bb",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Set http response payload to NiFi uuid",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1132.8460493661123,
        "y" : -467.7547345070143
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\n\"Nifi\":\"${filename}\"\n}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45ac5a54-0194-1000-1033-b3d7a3d1bfc8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Send 406 Not Acceptable",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -224.0,
        "y" : -672.0
      },
      "properties" : {
        "HTTP Context Map" : "0cec8fde-8669-3db0-8da9-9c60d7b536b5",
        "Content-type" : "application/json",
        "X-NiFi-UID" : "INVALID REQUEST",
        "HTTP Status Code" : "406"
      },
      "propertyDescriptors" : {
        "HTTP Context Map" : {
          "displayName" : "HTTP Context Map",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "HTTP Context Map",
          "sensitive" : false
        },
        "Content-type" : {
          "displayName" : "Content-type",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Content-type",
          "sensitive" : false
        },
        "Attributes to add to the HTTP Response (Regex)" : {
          "displayName" : "Attributes to add to the HTTP Response (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to add to the HTTP Response (Regex)",
          "sensitive" : false
        },
        "X-NiFi-UID" : {
          "displayName" : "X-NiFi-UID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "X-NiFi-UID",
          "sensitive" : false
        },
        "HTTP Status Code" : {
          "displayName" : "HTTP Status Code",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Status Code",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "56522dea-0194-1000-027c-b9c03ef3bc77",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Payload CreateCase",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1080.0,
        "y" : 984.0
      },
      "properties" : {
        "Regular Expression" : "(?s)(^.*$)",
        "Replacement Value" : "{\n    \"parameter\": {\n        \"ImportedCaseNumber\": \"${CaseNumber} | ${filename}\",\n        \"StartDate\": \"${CreatedDate}\",\n        \"ClosedDate\": \"${LastChangedDate}\",\n        \"Title\": \"${Title}\",\n        \"Status\": \"recno:6\",\n        \"SubArchive\": \"recno:${SubArchive}\",\n        \"CaseType\": \"recno:18\",\n        \"Notes\": \"#{P360URL}${URL}\",\n        \"UID\": \"${UID}\",\n        \"UIDOrigin\": \"360\",\n        \"Remarks\": [\n            {\n                \"Title\": \"P360 URL\",\n                \"Content\": \"#{P360URL}${URL}\",\n                \"RemarkType\": \"recno:5\"\n            }\n        ],\n        \"AdditionalFields\": [\n            {\n                \"Name\": \"CF_URL\",\n                \"Value\": \"#{P360URL}${URL}\"\n            }\n        ]\n    }\n}",
        "Evaluation Mode" : "Entire text",
        "Line-by-Line Evaluation Mode" : "All",
        "Character Set" : "UTF-8",
        "Maximum Buffer Size" : "1 MB",
        "Replacement Strategy" : "Always Replace"
      },
      "propertyDescriptors" : {
        "Regular Expression" : {
          "displayName" : "Search Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Regular Expression",
          "sensitive" : false
        },
        "Replacement Value" : {
          "displayName" : "Replacement Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Value",
          "sensitive" : false
        },
        "Evaluation Mode" : {
          "displayName" : "Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Evaluation Mode",
          "sensitive" : false
        },
        "Text to Prepend" : {
          "displayName" : "Text to Prepend",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Prepend",
          "sensitive" : false
        },
        "Line-by-Line Evaluation Mode" : {
          "displayName" : "Line-by-Line Evaluation Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line-by-Line Evaluation Mode",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Maximum Buffer Size" : {
          "displayName" : "Maximum Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Buffer Size",
          "sensitive" : false
        },
        "Replacement Strategy" : {
          "displayName" : "Replacement Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Replacement Strategy",
          "sensitive" : false
        },
        "Text to Append" : {
          "displayName" : "Text to Append",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Text to Append",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ReplaceText",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "360CaseClone" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "360CaseClone",
      "parameters" : [ {
        "description" : "",
        "name" : "eArchiveURL",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://demo-ea-nor.public360online.com"
      }, {
        "description" : "",
        "name" : "P360URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://mas-man4-publicnorlrg.dev.360online.com"
      }, {
        "description" : "",
        "name" : "P360Authkey",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "eArchiveAuthkey",
        "provided" : false,
        "sensitive" : true
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "willy",
    "flowIdentifier" : "Clone-closed-case-from-P360-to-eArchive",
    "timestamp" : 0
  }
}